<%- include('./partials/header.ejs') %>
<form action="/signin" method="POST">
    <div class="container col-md-12 border border-secondary rounded" id="sign-in-box">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="e.g. Madam Welminster" required>
        </div>
        <div class="form-group" id="sign-in-button">
            <button type="submit" class="btn btn-outline-secondary"><div id="sign-in-text">Sign In</div></button>
        </div>
    </div>
</form>
<%- include('./partials/footer.ejs') %>